@import "tailwindcss";

span {
    margin: 3px;
    background-color: rgb(100, 100, 100);
}

@property --border-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@theme {
    --animate-border: border-rotate 4s linear infinite;
    @keyframes border-rotate {
        to {
            --border-angle: 360deg;
        }
    }
}